body {
    padding: 20px;
    font: 14px sans-serif;
    background-color: #EBDEA8;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid gray;
}

th {
    padding: 6px;
}

td {
    padding: 3px;
}

/* Custom styles */

table.list {
    max-width: 1000px;
    background: rgba(236, 236, 236, 0.21);
}

table.list th {
    background-color: rgba(180, 221, 143, 0.4);
}

div#edit {
    margin-top: 10px;
}