body {
    padding: 20px 30px 100px;
    font: 14px sans-serif;
    background-color: #EBDEA8;
}

table {
    border-collapse: collapse;
}

td, th {
    /*border: 1px solid gray;*/
}

th {
    padding: 6px;
}

td {
    padding: 3px;
}

textarea {
    width: 400px;
    height: 150px;
}

/* Custom styles */

table.list {
    max-width: 1000px;
    background: rgba(236, 236, 236, 0.21);
}

table.list th {
    background-color: rgba(180, 221, 143, 0.4);
}

table.list td,
table.list th {
    border: 1px solid gray;
}

div#edit {
    margin-top: 10px;
    background: rgba(0, 143, 255, 0.14);
    width: 600px;
    padding: 30px;
}

span.naviCurrentPage {
    color: rgb(0, 92, 255);
}

select.multipleSelect {
    min-width: 200px;
    min-height: 6em;
}

select.multipleSelect.bookauthors {
    height: 80px;
}

select.multipleSelect.allauthors {
    height: 200px;
}
